<form method="POST" action="/courses/store" class="mt-5">
  <h2 class="mt-5">Add Course</h2>
  <div class="form-outline mb-4">
    <input type="text" id="name" class="form-control" name="name" />
    <label class="form-label" for="name">Name</label>
  </div>

  <div class="form-outline mb-4">
    <input type="text" id="description" class="form-control" name="description" />
    <label class="form-label" for="description">Description</label>
  </div>

  <div class="form-outline mb-4">
    <input type="text" id="image" class="form-control" name="image" />
    <label class="form-label" for="image">Image</label>
  </div>
  
  <div class="form-outline mb-4">
    <input type="text" id="videoId" class="form-control" name="videoId" />
    <label class="form-label" for="videoId">Video ID</label>
  </div>


  <!-- Submit button -->
  <button type="submit" >Add Course</button>
</form>
